/*$visual-grid: true;*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: "Roboto", "Proxima Nova", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  color: #424242;
  padding: 1em; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

h1 {
  font-size: 2.0em;
  font-weight: 700;
  line-height: 1.5em;
  color: white; }

h2 {
  font-family: 'Roboto Slab', serif;
  color: #a8a8a8;
  font-weight: 300;
  line-height: 1.75em; }

p, li, input, input[type="submit"], blockquote {
  font-size: 1.125em;
  font-weight: 300; }

blockquote {
  font-style: cursive;
  background-color: #f1f1f1;
  padding: 0.5em; }

a {
  color: #424242;
  text-decoration: none; }

h3 {
  margin: 0.75em 0; }

/*
**
**
** HEADER
**
**
*/
.header {
  background-color: white; }

.page-title {
  text-align: left; }
  @media screen and (min-width: 320px) and (max-width: 720px) {
    .page-title {
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 46.288514824%; }
      .page-title:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 720px) and (max-width: 960px) {
    .page-title {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 35.2633352458%;
      margin-left: 12.9473329508%; }
      .page-title:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    .page-title {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 40.2913699012%;
      margin-left: 8.5298042998%; }
      .page-title:last-child {
        margin-right: 0; } }

.header--fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  transition-duration: .3s; }

.slideDown {
  transform: translateY(0%); }

.slideUp {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%); }

#header .social-icons {
  text-align: right; }
  @media screen and (min-width: 320px) and (max-width: 720px) {
    #header .social-icons {
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 46.288514824%; }
      #header .social-icons:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 720px) and (max-width: 960px) {
    #header .social-icons {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 35.2633352458%; }
      #header .social-icons:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    #header .social-icons {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 40.2913699012%; }
      #header .social-icons:last-child {
        margin-right: 0; } }

.social-icons img {
  float: right;
  height: 30px;
  padding: 0 5px 0 0;
  margin: 0.625em 0; }

#footer .social-icons img {
  margin: 0.2em 0; }

/*
**
**
** ARTICLE TITLE
**
**
*/
.article-header {
  width: 100%;
  background-color: rgba(231, 76, 60, 0.9);
  margin: 85px 0 0;
  padding: 30px 0; }

@media screen and (min-width: 320px) and (max-width: 720px) {
  .article-title {
    float: left;
    display: block;
    margin-right: 7.4229703521%;
    width: 100%; }
    .article-title:last-child {
      margin-right: 0; } }
@media screen and (min-width: 720px) and (max-width: 960px) {
  .article-title {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 74.1053340983%;
    margin-left: 12.9473329508%; }
    .article-title:last-child {
      margin-right: 0; } }
@media screen and (min-width: 960px) {
  .article-title {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%;
    margin-left: 8.5298042998%; }
    .article-title:last-child {
      margin-right: 0; } }

.article-title p {
  margin: 0.75em 0 0; }
.article-title h1 {
  margin: 0; }

/*
**
**
** ARTICLE
**
**
*/
@media screen and (min-width: 320px) and (max-width: 720px) {
  article {
    float: left;
    display: block;
    margin-right: 7.4229703521%;
    width: 100%; }
    article:last-child {
      margin-right: 0; } }
@media screen and (min-width: 720px) and (max-width: 960px) {
  article {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 74.1053340983%;
    margin-left: 12.9473329508%; }
    article:last-child {
      margin-right: 0; } }
@media screen and (min-width: 960px) {
  article {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%;
    margin-left: 8.5298042998%; }
    article:last-child {
      margin-right: 0; } }

article p, article li, blockquote {
  font-size: 1.25em;
  line-height: 2em; }

/*
**
**
** FOOTER
**
**
*/
#footer {
  position: fixed;
  left: 0px;
  bottom: -70px;
  height: 70px;
  width: 100%;
  background: #fff;
  border-top: 3px solid #ea7168;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 10;
  text-align: center;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out; }
  @media screen and (min-width: 320px) and (max-width: 720px) {
    #footer {
      display: none; } }
  #footer input {
    padding: 0.625em;
    margin: 0 0.5em 0 0;
    float: left;
    border: none;
    width: 65%;
    background-color: #ff;
    border: 1px solid #d8d8d8;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 0.875em; }
  #footer input:focus {
    background-color: #fcfcfc;
    box-shadow: 2px 2px 2px 2px #f1f1f1;
    outline: #f1f1f1; }
  #footer input[type="submit"] {
    background-color: rgba(231, 76, 60, 0.9);
    border: none;
    color: #fff;
    cursor: pointer;
    width: 25%; }
  #footer p {
    font-size: .875em; }

.footer-left {
  text-align: left;
  border-right: 3px solid #f1f1f1; }
  @media screen and (min-width: 720px) and (max-width: 960px) {
    .footer-left {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 22.3160022949%; }
      .footer-left:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    .footer-left {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 6.1721527019%;
      margin-left: 17.0596085997%; }
      .footer-left:last-child {
        margin-right: 0; } }

.footer-center {
  margin: 0.125em 0; }
  @media screen and (min-width: 720px) and (max-width: 960px) {
    .footer-center {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 48.2106681966%; }
      .footer-center:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    .footer-center {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%;
      margin-left: 8.5298042998%; }
      .footer-center:last-child {
        margin-right: 0; } }

.footer-right {
  text-align: right;
  border-left: 3px solid #f1f1f1; }
  @media screen and (min-width: 720px) and (max-width: 960px) {
    .footer-right {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 22.3160022949%; }
      .footer-right:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    .footer-right {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 6.1721527019%;
      margin-left: 8.5298042998%; }
      .footer-right:last-child {
        margin-right: 0; } }
