/*$visual-grid: true;*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: "Roboto", "Proxima Nova", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  color: #424242;
  padding: 1em; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

h1 {
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 0.75em; }

h2 {
  font-family: 'Roboto Slab', serif;
  color: #a8a8a8;
  font-weight: 300;
  line-height: 1.75em; }

p {
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.5em; }

a {
  color: #424242;
  text-decoration: none; }

h3 {
  color: white; }

/*
**
**
** HELLO
**
**
*/
.hello {
  margin: 140px 0; }
  @media screen and (min-width: 320px) and (max-width: 720px) {
    .hello {
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 100%; }
      .hello:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 720px) and (max-width: 960px) {
    .hello {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 48.2106681966%;
      margin-left: 51.7893318034%; }
      .hello:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    .hello {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%;
      margin-left: 51.178825799%; }
      .hello:last-child {
        margin-right: 0; } }

.hello a {
  border-bottom: 1px solid #424242; }

.hello a:hover {
  border-bottom: 1px solid #a8a8a8;
  color: #a8a8a8; }

.hello h1 a {
  border: none; }

.hello h1 a:hover {
  color: #424242;
  border: none; }

.social-icons::after {
  clear: both;
  content: "";
  display: table; }

.social-icons img {
  float: left;
  height: 30px;
  padding: 0 5px 0 0; }

/*
**
**
** WORK
**
**
*/
.work {
  width: 100%;
  background-color: rgba(231, 76, 60, 0.9); }

.work-list {
  padding: 30px 0; }
  @media screen and (min-width: 320px) and (max-width: 720px) {
    .work-list {
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 100%; }
      .work-list:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 720px) and (max-width: 960px) {
    .work-list {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 48.2106681966%; }
      .work-list:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    .work-list {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 40.2913699012%; }
      .work-list:last-child {
        margin-right: 0; } }

@media screen and (min-width: 960px) {
  .work-list:first-of-type {
    margin-left: 8.5298042998%; } }

.work-list ul {
  list-style: none;
  padding: 0;
  line-height: 1.5em; }

.work-list li span {
  color: rgba(66, 66, 66, 0.3); }

.work-list a {
  font-size: 1.125em;
  font-weight: 300; }

.work-list a:hover {
  border-bottom: 1px solid #424242; }

/*
**
**
** Essays
**
**
*/
.essay-quote {
  color: white;
  padding: 60px 0;
  text-align: center; }
  @media screen and (min-width: 320px) and (max-width: 720px) {
    .essay-quote {
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 100%; }
      .essay-quote:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 720px) and (max-width: 960px) {
    .essay-quote {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 74.1053340983%;
      margin-left: 12.9473329508%; }
      .essay-quote:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    .essay-quote {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 82.9403914003%;
      margin-left: 8.5298042998%; }
      .essay-quote:last-child {
        margin-right: 0; } }

.essay-quote p {
  color: #424242;
  margin: 60px 0 0; }

.essay-quote a {
  border-bottom: 1px solid #424242; }

.essay-quote a:hover {
  color: #a8a8a8;
  border-bottom: 1px solid #a8a8a8; }

/*
**
**
** FOOTER
**
**
*/
footer {
  background-color: #424242;
  padding: 30px 0; }

footer p {
  color: white; }
  @media screen and (min-width: 320px) and (max-width: 720px) {
    footer p {
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 100%; }
      footer p:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 720px) and (max-width: 960px) {
    footer p {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 74.1053340983%;
      margin-left: 12.9473329508%; }
      footer p:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    footer p {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 82.9403914003%;
      margin-left: 8.5298042998%; }
      footer p:last-child {
        margin-right: 0; } }
