/*$visual-grid: true;*/
@import 'bourbon/bourbon';
@import 'neat/neat';
$mobile-size:320px;
$tablet-size:720px;
$desktop-size:960px;
$mobile: new-breakpoint(min-width $mobile-size max-width $tablet-size 4);
$tablet: new-breakpoint(min-width $tablet-size max-width $desktop-size 8);
$desktop: new-breakpoint(min-width $desktop-size 12);
$red: #ea5c4e;
$charcoal: #424242;
$light-grey: #d8d8d8;

body{
	@include margin(0);
	font-family: 'Roboto','Proxima Nova', $helvetica;
}

.container{
	@include outer-container;
	color: $charcoal;
	@include padding(1em);
}

h1{
	font-size: 2.0em;
	font-weight: 700;
	line-height: 1.5em;
	color: white;
}

h2{
	font-family: 'Roboto Slab', serif;
	color: #a8a8a8;
	font-weight: 300;
	line-height: 1.75em;
}

p, li, input, input[type="submit"], blockquote{
	font-size: 1.125em;
	font-weight: 400;
}

blockquote{
	font-style: cursive;
	background-color: #f1f1f1;
	@include padding(0.5em);
}

a{
	color: $charcoal;
	text-decoration: none;
}

h3{
	@include margin(0.75em 0);
}

img{
	max-width: 90%;
	display: block;
	margin: autot;
}

/*
**
**
** HEADER
**
**
*/

.header--fixed {
 position: fixed;
 right: 0;
 left: 0;
 top: 0;
 -webkit-transition-duration: .3s;
 -moz-transition-duration: .3s;
 transition-duration: .3s;
}

.slideDown {
 transform: translateY(0%);
}

.slideUp {
 transform: translateY(-100%);
 -webkit-transform: translateY(-100%);
}

.header {
	background-color: white;
	input{
		@include padding(0.625em);
		@include margin(0 0.5em 0 1.5em);
		float: left;
		border: none;
		width: 65%;
		background-color: #ff;
		border: 1px solid #d8d8d8;
		@include border-top-radius(3px);
		@include border-right-radius(3px);
		@include border-bottom-radius(3px);
		@include border-left-radius(3px);
		font-size: 0.875em;
	}
	input:focus{
		background-color: #fcfcfc;
		outline: $light-grey;
	}
   input[type="submit"] {
    	background-color: rgba(231,76,60,0.9);
    	border: none;
    	color: #fff;
    	cursor: pointer;
    	width: 25%;
    	@include margin(1px 0.5em 0 0);
	}
}

.hidden{
	display: none !important;
}

.page-title{
	@include media($mobile) {
	  @include span-columns(2);
	}
	@include media($tablet) {
	  	@include span-columns(2);
	  	@include shift(0);
	}
	@include media($desktop) {
	  	@include span-columns(2);
	  	@include shift(2);
	}
	text-align: left;
}

.subscribe-button{
	@include margin(.625em null null null);
	background-color: $red;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	@include media($mobile) {
	  display: none;
	}
	@include media($tablet) {
	  	@include span-columns(2);
	}
	@include media($desktop) {
	  	@include span-columns(2);
	  	@include shift(2);
	}
	p{
		@include padding(0.25em);
		@include margin(0);
	}
	&:hover{
		opacity: 0.7;
	}
}

.subscribe{
	display:none;
	@include margin(0.5em null null null);
	@include media($mobile) {
	  	display: none;
	}
	@include media($tablet) {
	  	@include span-columns(5);
	  	text-align: right;
	}
	@include media($desktop) {
	  	@include span-columns(5);
	  	@include shift(1);
	  	text-align: center;
	}
}

.follow-me{
	@include margin(1em null null null);
	text-align: right;
	@include media($mobile) {
	  @include span-columns(2);
	}
	@include media($tablet) {
	  	@include span-columns(3);
	}
	@include media($desktop) {
	  	@include span-columns(2);
	}
}

/*
**
**
** ARTICLE TI1
**
**
*/

.article-header{
	width: 100%;
	background-color: $red;
	@include margin(85px 0 0 0);
	@include padding(30px 0);
}

.article-title{
	@include media($mobile) {
	  @include span-columns(4);
	}
	@include media($tablet) {
	  	@include span-columns(6);
	  	@include shift(1);
	}
	@include media($desktop) {
	  	@include span-columns(8);
	  	@include shift(2);
	}
}

.article-title{
	p{	
		@include margin(0.75em 0 0 0);
	}
	h1{
		@include margin(0);
	}
}

/*
**
**
** ARTICLE
**
**
*/

article{
	@include media($mobile) {
	  @include span-columns(4);
	}
	@include media($tablet) {
	  	@include span-columns(6);
	  	@include shift(1);
	}
	@include media($desktop) {
	  	@include span-columns(8);
	  	@include shift(2);
	}
	p, li{
		font-size: 1.25em;
		line-height: 1.75em;
	}
	a{
		color: $red;
		&:hover{
			text-decoration: underline;
		}
	}
	img{
		max-width: 100%;
	}
}

/*
**
**
** FOOTER
**
**
*/

footer{
	background-color: $charcoal;
	@include padding(1em 0 3em 0);
	a, p{
		color: white;
	}
	a{
		text-decoration: underline;
	}
	a:hover{
		color: $light-grey;
	}
	.footer-left{
	@include media($mobile) {
		display: none;
	}
	@include media($tablet) {
	  	@include span-columns(3);
	  	@include shift(1);
	}
	@include media($desktop) {
	  	@include span-columns(4);
	  	@include shift(2);
	}
	text-align: left;
	}

	.footer-right{
		@include media($mobile) {
			@include span-columns(4);
		}
		@include media($tablet) {
		  	@include span-columns(3);
		}
		@include media($desktop) {
		  	@include span-columns(4);
		}
		text-align: right;
	}
}