/*$visual-grid: true;*/
@import 'bourbon/bourbon';
@import 'neat/neat';
$mobile-size:320px;
$tablet-size:720px;
$desktop-size:960px;
$mobile: new-breakpoint(min-width $mobile-size max-width $tablet-size 4);
$tablet: new-breakpoint(min-width $tablet-size max-width $desktop-size 8);
$desktop: new-breakpoint(min-width $desktop-size 12);

body{
	@include margin(0);
	font-family: 'Roboto','Proxima Nova', $helvetica;
}

.container{
	@include outer-container;
	color: #424242;
	@include padding(1em);
}

h1{
	font-size: 2.0em;
	font-weight: 700;
	line-height: 1.5em;
	color: white;
}

h2{
	font-family: 'Roboto Slab', serif;
	color: #a8a8a8;
	font-weight: 300;
	line-height: 1.75em;
}

p, li, input, input[type="submit"], blockquote{
	font-size: 1.125em;
	font-weight: 300;
}

blockquote{
	font-style: cursive;
	background-color: #f1f1f1;
	@include padding(0.5em);
}

a{
	color: #424242;
	text-decoration: none;
}

h3{
	@include margin(0.75em 0);
}

/*
**
**
** HEADER
**
**
*/

.header--fixed {
 position: fixed;
 right: 0;
 left: 0;
 top: 0;
 -webkit-transition-duration: .3s;
 -moz-transition-duration: .3s;
 transition-duration: .3s;
}

.slideDown {
 transform: translateY(0%);
}

.slideUp {
 transform: translateY(-100%);
 -webkit-transform: translateY(-100%);
}

.header {
	background-color: white;
	input{
		@include padding(0.625em);
		@include margin(0 0.5em 0 1.5em);
		float: left;
		border: none;
		width: 65%;
		background-color: #ff;
		border: 1px solid #d8d8d8;
		@include border-top-radius(3px);
		@include border-right-radius(3px);
		@include border-bottom-radius(3px);
		@include border-left-radius(3px);
		font-size: 0.875em;
	}
	input:focus{
		background-color: #fcfcfc;
		box-shadow: 2px 2px 2px 2px #f1f1f1;
		outline: #f1f1f1;
	}
   input[type="submit"] {
    	background-color: rgba(231,76,60,0.9);
    	border: none;
    	color: #fff;
    	cursor: pointer;
    	width: 25%;
    	@include margin(1px 0.5em 0 0);
	}
}

.page-title{
	@include media($mobile) {
	  @include span-columns(2);
	}
	@include media($tablet) {
	  	@include span-columns(2);
	  	@include shift(0);
	}
	@include media($desktop) {
	  	@include span-columns(2);
	  	@include shift(0);
	}
	text-align: left;
}

.subscribe{
	@include media($mobile) {
	  display: none;
	}
	@include media($tablet) {
	  	@include span-columns(4);
	}
	@include media($desktop) {
	  	@include span-columns(5);
	  	@include shift(3);
	}
	text-align: right;
	@include margin(0.5em null null null);
}

.social-icons{
	@include media($mobile) {
	  @include span-columns(2);
	}
	@include media($tablet) {
	  	@include span-columns(2);
	}
	@include media($desktop) {
	  	@include span-columns(2);
	}
	text-align: right;
	@include margin(1em null null null);
}

.social-icons img{
	float: right;
	height: 30px;
	@include padding(0 5px 0 0);
	@include margin(0.625em 0);
}

#footer .social-icons img{
	@include margin(0.2em 0);
}

/*
**
**
** ARTICLE TITLE
**
**
*/

.article-header{
	width: 100%;
	background-color: rgba(231,76,60,0.9);
	@include margin(85px 0 0 0);
	@include padding(30px 0);
}

.article-title{
	@include media($mobile) {
	  @include span-columns(4);
	}
	@include media($tablet) {
	  	@include span-columns(6);
	  	@include shift(1);
	}
	@include media($desktop) {
	  	@include span-columns(8);
	  	@include shift(2);
	}
}

.article-title{
	p{	
		@include margin(0.75em 0 0 0);
	}
	h1{
		@include margin(0);
	}
}

/*
**
**
** ARTICLE
**
**
*/

article{
	@include media($mobile) {
	  @include span-columns(4);
	}
	@include media($tablet) {
	  	@include span-columns(6);
	  	@include shift(1);
	}
	@include media($desktop) {
	  	@include span-columns(8);
	  	@include shift(2);
	}
	p, li{
		font-size: 1.25em;
		line-height: 1.75em;
	}
}

/*
**
**
** FOOTER
**
**
*/

footer{
	background-color: #424242;
	a{
		color: white;
	}
	a:hover{
		text-decoration: underline;
	}
	.footer-content{
		@include padding(4em 0);
		@include media($mobile) {
		  	@include span-columns(4);
		}
		@include media($tablet) {
		  	@include span-columns(6);
		  	@include shift(1);
		}
		@include media($desktop) {
		  	@include span-columns(8);
		  	@include shift(2);
		}
	}
}

/*
**
**
** ARTICLE NAVIGATION
**
**


#footer {
	@include media($mobile) {
	  display: none;
	}
   position:fixed;
   left:0px;
   bottom: -70px;
   height: 70px;
   width:100%;
   background: #fff;
   border-top: 3px solid #ea7168;
   @include padding(15px null);
   z-index: 10;
   text-align: center;
   -moz-transition:all 0.5s ease-in-out;
   -o-transition:all 0.5s ease-in-out;
   transition:all 0.5s ease-in-out;
   -webkit-transition:all 0.5s ease-in-out;
	p{
		font-size: .875em;
	}
}

.footer-left{
	@include media($tablet) {
	  	@include span-columns(2);
	}
	@include media($desktop) {
	  	@include span-columns(1);
	  	@include shift(1);
	}
	text-align: left;
	border-right: 3px solid #f1f1f1;
}

.footer-center{
	@include media($tablet) {
	  	@include span-columns(4);
	}
	@include media($desktop) {
	  	@include span-columns(4);
	  	@include shift (2);
	}
	@include margin(.125em 0);
}


.footer-right{
	@include media($tablet) {
	  	@include span-columns(2);
	}
	@include media($desktop) {
	  	@include span-columns(1);
	  	@include shift (2);
	}
	text-align: right;
	border-left: 3px solid #f1f1f1;
}
*/