/*$visual-grid: true;*/
@import 'bourbon/bourbon';
@import 'neat/neat';
$mobile-size:320px;
$tablet-size:720px;
$desktop-size:960px;
$mobile: new-breakpoint(min-width $mobile-size max-width $tablet-size 4);
$tablet: new-breakpoint(min-width $tablet-size max-width $desktop-size 8);
$desktop: new-breakpoint(min-width $desktop-size 12);

body{
	@include margin(0);
	font-family: 'Roboto','Proxima Nova', $helvetica;
}

.container{
	@include outer-container;
	color: #424242;
	@include padding(1em);
}

h1{
	font-size: 2.2em;
	font-weight: 700;
	line-height: 1em;
	@include margin(0 0 .75em 0);
}

h2{
	font-family: 'Roboto Slab', serif;
	color: #a8a8a8;
	font-weight: 300;
	line-height: 1.75em;
}

p {
	font-size: 1.125em;
	font-weight: 300;
	line-height: 1.5em;
}

a{
	color: #424242;
	text-decoration: none;
}

h3{
	color: white;
}

/*
**
**
** HELLO
**
**
*/

.hello{
	@include media($mobile) {
	  @include span-columns(4);
	}
	@include media($tablet) {
	  	@include span-columns(4);
	}
	@include media($desktop) {
	  	@include span-columns(6);
	}
	@include margin(140px 0);
}

.hello a{
	border-bottom: 1px solid #424242;
}

.hello a:hover{
	border-bottom: 1px solid #a8a8a8;
	color: #a8a8a8;
}

.hello h1 a{
	border: none;
}

.hello h1 a:hover{
	color: #424242;
	border: none;
}

.social-icons{
	@include clearfix;
}

.social-icons img{
	float: left;
	height: 30px;
	@include padding(0 5px 0 0);
}

/*
**
**
** WORK
**
**
*/

.work{
	width: 100%;
	background-color: rgba(231,76,60,0.9);
}

.work-list{
	@include media($mobile) {
	  @include span-columns(4);
	}
	@include media($tablet) {
	  	@include span-columns(4);
	}
	@include media($desktop) {
	  	@include span-columns(5);
	}
	@include padding(30px 0);
}

.work-list:first-of-type{
	@include media($desktop) {
	  	@include shift(1);
	}
}

.work-list ul{
	list-style: none;
	@include padding(0);
	line-height: 1.5em;
}

.work-list li{
	@include margin(0 0 1em 0);
}

.work-list li span{
	color: rgba(66,66,66, 0.3);
}

.work-list a{
	font-size: 1.125em;
	font-weight: 300;
}

.work-list a:hover{
	border-bottom: 1px solid #424242;
}

/*
**
**
** Essays
**
**
*/

.essay-quote{
	color: white;
	@include media($mobile) {
	  @include span-columns(4);
	}
	@include media($tablet) {
	  	@include span-columns(6);
	  	@include shift(1)
	}
	@include media($desktop) {
	  	@include span-columns(10);
	  	@include shift(1)
	}
	@include padding(60px 0);
	text-align: center;
}

.essay-quote p{
	color: #424242;
	@include margin(60px 0 0 0);
}

.essay-quote a{
	border-bottom: 1px solid #424242;
}

.essay-quote a:hover{
	color: #a8a8a8;
	border-bottom: 1px solid #a8a8a8;
}

/*
**
**
** FOOTER
**
**
*/

footer{
	background-color: #424242;
	@include padding(30px 0);
}

footer p{
	color: white;
	@include media($mobile) {
	  @include span-columns(4);
	}
	@include media($tablet) {
	  	@include span-columns(6);
	  	@include shift(1)
	}
	@include media($desktop) {
	  	@include span-columns(10);
	  	@include shift(1)
	}
}